body{
    background-color: rgb(217, 85, 80);
}

.main-title{
    border-bottom: solid 1px #0000003b;
}

.main-title .title{
    color: #ffffff;
    font-weight: 500;
    font-size: 2rem;
}

.main-pomodo {
    margin-top: 100px;
}

.main-pomodo .time {
    color: #ffffff;
    font-size: 7rem;
    font-weight: 500;
}

.main-pomodo .btn{
    background-color: #ffffff;
    color: rgb(217, 85, 80);
    font-size: 2rem;
    font-weight: 500;
}

.main-pomodo .relax-btn{
    background-color: #62c96a;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 500;
}